<div class="screen">
    <div class="title">
        <p class="">Frontend 4 Life</p>
    </div>
    <div class="terminal">
        <div class="outputContainer">
            <div class="output" *ngFor="let message of messages | async">
                <p>
                    {{ message.message }}
                </p>
            </div>
        </div>
        <div class="currentLine">
            <span class="prompt"> > </span>
            <div class="inputContainer">
                <input class="input" type="text" [(ngModel)]="message" (keyup.enter)="send()" autofocus>
            </div>
        </div>
    </div>
</div>
